<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="cordova-plugin-ios-permissions" version="1.1.1">
	<name>Cordova iOS Permissions</name>
	<description>Experimental plugin to prevent crashes in iOS apps due to missing entries in the plist file.</description>
	<license>MIT</license>
	<repo>https://github.com/MBuchalik/cordova-plugin-ios-permissions</repo>

	<platform name="ios">
		<config-file target="*-Info.plist" parent="NSCameraUsageDescription">
			<string>To speed up the registration of the sensor, we offer you the possibility to scan the barcode using your camera.</string>
		</config-file>
		<config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
			<string>This app uses services depending on the location of your sensor. In order to provide you with accurate metadata, we therefore need your location.</string>
		</config-file>
		<resource-file src="src/ios/nl.lproj" />
		<resource-file src="src/ios/en.lproj" />
		<resource-file src="src/ios/de.lproj" />
		<resource-file src="src/ios/fr.lproj" />
	</platform>
</plugin>
